body {
  background-color: rgb(14, 21, 34);
}

img {
  position: relative;
  margin-left: 38%;
  max-width: 10rem;
}

span {
  color: rgb(180, 102, 226);
  font-weight: 600;
}

#profile-container {
  background-color: rgba(87, 95, 209, 0.397);
  max-width: 50%;
  margin: 5rem auto;
  border-radius: 10px;
  padding: 0.5rem;
}

#main {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: 10rem auto;
  padding: 0.5rem;
  row-gap: 2rem;
  background-color: rgba(87, 95, 209, 0.397);
  border-radius: 10px;
}

h1,h2, p {
  text-align: center;
  color: white;
}

input {
  position: relative;
  width: 60%;
  margin: 0 auto;
  padding: 0.5rem;
  outline: none;
}

button {
  position: relative;
  margin: 0 auto;
  width: 20%;
  border: 1px solid transparent;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}